@import 'Colors';

.aboutSkills-container {
  min-height: 100vh;
  height: auto;
  background-color: $darkBG;
}

.aboutSkills {
  h1 {
    color: $darkGreen;
    font-size: 100px;
    text-align: right;
  }

  h2 {
    color: white;
    font-size: 40px;
  }
}

/*align the heading and lines*/

.pa-heading-line-left h1 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;

  /*add and adjust the lines*/
  /*add spacing between heading and line*/
  &:before {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
    color: #fff;
    margin: 0 20px 0 0;
  }
}

/* CARDS */

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;

  .skills-card {
    position: relative;
    min-width: 285px;
    height: 400px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;
    transition: 0.5s;

    &:nth-child(1) .skills-box .skills-content a {
      background: #2196f3;
    }

    &:nth-child(2) .skills-box .skills-content a {
      background: #e91e63;
    }

    &:nth-child(3) .skills-box .skills-content a {
      background: #23c186;
    }

    .skills-box {
      position: absolute;
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      background: #2a2b2f;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      transition: 0.5s;

      &:hover {
        transform: translateY(-50px);
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: rgba(255, 255, 255, 0.03);
      }

      .skills-content {
        padding: 20px;
        text-align: center;

        h2 {
          position: absolute;
          top: -5px;
          right: 30px;
          font-size: 8rem;
          color: rgba(255, 255, 255, 0.1);
        }

        h3 {
          font-size: 1.8rem;
          color: #fff;
          z-index: 1;
          transition: 0.5s;
          margin-top: 10%;
          margin-bottom: 15px;
        }

        p {
          font-size: 0.8rem;

          /* font-weight: 300; */
          color: rgba(255, 255, 255, 0.9);
          z-index: 1;
          transition: 0.5s;
        }

        a {
          position: relative;
          display: inline-block;
          padding: 8px 20px;
          background: black;
          border-radius: 5px;
          text-decoration: none;
          color: white;
          margin-top: 20px;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          transition: 0.5s;

          &:hover {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
            background: #fff;
            color: #000;
          }
        }
      }
    }
  }
}

/* TECH LOGO */

.tech-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.chart {
  position: relative;
  display: inline-block;
  color: transparent;
  font-size: 20px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;

  figcaption {
    padding: 50px 50px;
    width: auto;
    height: auto;
    border-radius: 00px;
    line-height: 50px;
  }

  img {
    position: absolute;
    max-width: 300px;
    max-height: 300px;

    /* background: white; */
  }
}

/* END Container styles */

/* Colors for the circles and positions for the graphics */

.html {
  top: 50px;
  left: 45px;

  +svg .outer {
    stroke: #e34f26;
  }
}

.css {
  top: 50px;
  left: 48px;

  +svg .outer {
    stroke: #0d84ce;
  }
}

.javascript {
  top: 45px;
  left: 45px;

  +svg .outer {
    stroke: #f0e040;
  }
}

.bootstrap {
  top: 45px;
  left: 48px;

  +svg .outer {
    stroke: #553C7B;
  }
}

.react {
  top: 48px;
  left: 48px;

  +svg .outer {
    stroke: #61DBFB;
  }
}

.sass {
  top: 45px;
  left: 48px;

  +svg .outer {
    stroke: #CD6799;
  }
}

.chart svg {
  position: absolute;
  top: 0;
  left: 0;
}

.outer {
  fill: transparent;
  stroke: #333;
  stroke-width: 20;
  stroke-dasharray: 534;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;

  /* firefox bug fix - won't rotate at 90deg angles */
  -moz-transform: rotate(-89deg) translateX(-190px);
}

.chart {
  &:hover .outer {
    stroke-dashoffset: 534 !important;
    -webkit-animation-play-state: paused;
  }

  /* END Circle colors and graphic positions */

  /* Set the initial values for the animation */
  &[data-percent='100'] .outer {
    stroke-dashoffset: 0;
    -webkit-animation: show100 2s;
    animation: show100 2s;
  }

  &[data-percent='75'] .outer {
    stroke-dashoffset: 133;
    -webkit-animation: show75 2s;
    animation: show75 2s;
  }

  &[data-percent='50'] .outer {
    stroke-dashoffset: 267;
    -webkit-animation: show50 2s;
    animation: show50 2s;
  }

  &[data-percent='25'] .outer {
    stroke-dashoffset: 401;
    -webkit-animation: show25 2s;
    animation: show25 2s;
  }

  /* END set initial animation values */
}



/* Keyframes for the initial animation */
@-webkit-keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 134;
  }
}

@keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 124;
  }
}

@-webkit-keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 267;
  }
}

@keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 267;
  }
}

@-webkit-keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 401;
  }
}

@keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 401;
  }
}

/* END Keyframes for the initial animation */