@import 'Colors';

.c-bg {
    width: 20px;
    min-height: 100vh;
    height: auto;
    background-color: $darkGreen;
    position: absolute;
}

.contact-container {
    min-height: 100vh;
    height: auto;
    background-color: $darkBG;
}

.contact-title {
    font-size: 80px;
}

.btn-download {
    width: 35%;
    color: white!important;
    background-color: $darkBG!important;
    border-color: $darkGreen!important;

    &:hover {
        background-color: $darkGreen!important;
        transition: all .2s ease;
    }
}

.btn-submit {
    color: white!important;
    background-color: $darkBG!important;
    border-color: $darkGreen!important;

    &:hover {
        background-color: $darkGreen!important;
        transition: all .2s ease;
    }
}