button:hover {
  transition: all .15s ease-in;
}

/* .navbar-expand-lg .navbar-nav .nav-link {
  margin-left: 2rem;
  margin-right: 1rem;
} */

/* Link Hover Underline Animation */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
  }
  
.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* When Scrolled */
.hover-underline-animation2 {
  display: inline-block;
  position: relative;
  color: black;
}

.hover-underline-animation2:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation2:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
