@import 'MediaQueries';

.projects-container {
    min-height: 90vh;
    height: auto;

    .project {
        @include xs {
            padding-right: 0px!important;
            padding-left: 0px!important;
            margin-right: 0px!important;
            margin-left: 0px!important;
        }
    }

    .fp-text {
        font-size: 60px;

        @include xs {
            text-align: center;
        }
    }

    h5 {
        @include xs {
            font-size: 16px;
        }
    }

    .fp-desc {
        @include xs {
            font-size: 14px;
        }
    }

    .carousel-control-prev-icon {
        margin-right: 90%;
        width: 5vw;
        height: 5vw;
    }

    .carousel-control-next-icon {
        margin-left: 90%;
        width: 5vw;
        height: 5vw;
    }

    .viewSite-btn {
        margin-right: 2rem;

        &:hover {
            transform: scale(1.02) !important;
            transition: all .2s ease;
        }

        @include xs {
            margin-right: 0.3rem;
        }

        a {
            @include xs {
                font-size: 13px;
            }
        }
    }

    .tempo-img {
        width: 250px;

        @include xs {
            width: 150px;
        }
    }
}