.projects-container {
    height: 90vh;
}

.innerProj-container {
    width: 80%;
    height: 90%;
    background-color: white;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-height: 100vh;
}

